@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(fonts.css);
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    min-height: 680px;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

#header { 
    min-width: 1300px;   
    border-bottom: 1px solid #b5b7ba;
    background-color: #9DC7C7;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

#header #selected {
    color: #000;
}

#header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

#header span {
    padding: 0 38px;
}

#content {
    position: absolute;
    height: 450px;
    min-width: 1300px;    
}

#content h1 {
    width: 100%;    
    text-align: center;
    color: #515359;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content .media {
    margin-right: 0;
}

#Picture {    
    width: 100%;
    height: 0 auto;    
    align-items: center; 
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color: #338181;
    padding-top: 3px;
}

#Picture img {
    max-width: 33%;    
}

#slider {
    display: inline-block;
    position: absolute;
    top: 450px;
    height: calc(100% - 450px);   
    width: 70vw;
    min-width: 900px;
}

#slider_buttons {    
    background-color: #9DC7C7;
    margin: 20px 0 0 60%;

    padding: 8px 12px;        
    width: 300px;  
    
    border-radius: 13%;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #338181;
    text-decoration: none;    
    text-align: center;
    color: #374F88;
    font-size: 20px;
    font-weight: 50px;
    line-height: 50px;
}

#button_Triss {
    display: inline-block; 
    position: absolute;
    margin-left: 1037px;    
    bottom: 100px;      
    width: 301px;
    height: 25px;
}

#button_Triss a{      
    background-color: #FF8540;
    padding: 3.5px 47px;    
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #338181;
    text-align: center;
    text-decoration: none;
    color: #4671D5;
    font-size: 12px;
    font-style: italic;
    line-height: 25px;
}

#button_Triss a:hover{
    background-color: #338181;
    color: #FF8540;
}

#footer {  
    position: absolute;
    bottom: 0;   
    background-color: #9DC7C7;
    min-width: 1300px;
    width: 100%;    
    height: 100px;
    text-align: center;
    color: #374F88;
    font-size: 20px;
    font-weight: 100px;
    line-height: 100px;
   }

#footer a {
    color: inherit;
}