body {
    position: relative;
    min-height: 700px ; height: 100vh;
    margin: 0;
    background: #000000;
}

#playboy_page {
    position: relative;
    height: 100%;
    width: max-content;
    margin-right: auto;	margin-left: auto;
	left: 0; right: 0;
}

img { 
    height: 100%;
}

#toolTip {
    position: absolute; width: 200px; display: none;
    height: auto;
    text-align: center;
    font: 18px;   
    background: #ECF5E4;
    opacity: 0.75;

}

.hidden_div {
    position: absolute; display: block;
}

#_01 {
    top: 55%; left: 52%;
    width: 5%; height: 24%;
}

#_02_l {
    top: 28%; left: 38.5%;
    width: 3.5%; height: 3%;
}

#_02_r {
    top: 32%; left: 52%;
    width: 4.5%; height: 5%;    
}

#_03 {
    top: 44%; left: 15.5%;
    width: 2.5%; height: 5%;
}

#_04 {
    top: 74%; left: 80%;
    width: 12%; height: 15%;
}