body {
	position: relative;
	min-width: 700px; width: calc(100vw - 25px);
	min-height: 600px; height: 100vh;
	background: black url(../img/triss-merigold-The-Witcher-art.jpeg) top center no-repeat;
	background-attachment: fixed;
	color: white;
	font-family: Calibri;
	font-size: 18px;
	
}

a {
	color: #009999;
}

li {
	font-style: italic;
}

img {
	border-radius: 20px;
	border: 4px #009999 solid;
}

#menu-active {
	font-size: 20px;
	font-weight: bold;
}

.about, .contacts {
	background-color: #009999;	
	position: absolute;
	overflow: auto;
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 40px;	
}

.about {
	width: 50%;
	top: 120px; bottom: 0;	
}

.Heder_of_Buttercup {
	position: absolute;
	top: 120px;
	height: 45px;
	left: calc(50% + 20px); right: 0;	
	background: url(../img/Лютик1В3.png) 50% 27% no-repeat;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	border: 3px black solid;	
}

.Heder_of_Buttercup h3 {
	margin: 0 auto;
}

.contacts {
	left: calc(50% + 20px); right: 0;
	top: 170px; bottom: 0;
}